/* You can add global styles to this file, and also import other style files */

.Center {
    text-align: center;
}

.CenterError {
    text-align: center;
    color: red;
}

.HideControl {
    display: none;
}

.centerTable {
    margin: 0px auto;
}